.Navbar {
    padding: 2px 0;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Ensure space between logo and menu */
    background-color: white; /* Corrected color syntax */
    width: 100%; /* Remove quotes */
}

.Navbar .logo {
    width: 200px;
    height: auto;
    margin-left: 0; /* Adjust as needed */
    margin-right: 20px; /* Added space to the right */
}

.navbar-menu {
    display: flex;
    font-size: 18px;
    list-style: none;
    color: black;
    gap: 30px; /* Adjusted spacing between menu items */
}

.navbar-right {
    display: flex;
    color: black;
    font-size: 18px;
    gap: 30px; 
}

.navbar-right1 {
    box-shadow: inset;
    display: flex;
    font-size: 18px;
    gap: 30px; 
}

.Navbar button {
    background: transparent;
    color: black;
    font-size: 20px;
    padding: 10px 20px; 
    cursor: pointer;
    border-radius: 50px;
    transition: background 0.3s, color 0.3s;
}

.Navbar button:hover {
    background: #ffcccc; 
    color: red; 
    text-decoration: underline;
}

.Navbar .active {
    padding-bottom: 2px;
    border-bottom: 2px solid #ff2b2b;
    color: #ff2b2b;
}

.Navbar li {
    cursor: pointer;
    transition: color 0.3s;
}

.Navbar li:hover {
    color: red; 
}

.navbar-menu a {
    color: black;
    text-decoration: none;
    padding: 10px; 
}

.navbar-menu a:hover {
    color: red;
    text-decoration: underline;
}
