/* General styling for the contact page */
.contact-page {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  background-color: white;
}

.contact-container {
  max-width: 800px;
  background-color: white;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
}

/* Contact form styling */
.contact-form form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-form label {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

.contact-form input,
.contact-form textarea {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 100%;
}

.contact-form input:focus,
.contact-form textarea:focus {
  outline: none;
  border-color:'#cc0000';
}

.contact-form textarea {
  height: 150px;
  resize: none;
}

.contact-form button {
  background-color: '#cc0000';
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.contact-form button:hover {
  background-color: '#cc0000';
}

/* Contact information styling */
.contact-info {
  margin-top: 40px;
}

.contact-info h3 {
  font-size: 22px;
  color: #333;
  margin-bottom: 10px;
}

.contact-info p {
  font-size: 16px;
  color: #666;
}

.map-container {
  margin-top: 20px;
}

.social-links {
  margin-top: 30px;
}

.social-links h3 {
  font-size: 20px;
  margin-bottom: 15px;
}

.social-links a {
  display: inline-block;
  color: #fe5f55;
  text-decoration: none;
  font-size: 18px;
  margin-right: 15px;
  transition: color 0.3s ease;
}

.social-links a:hover {
  color: '#cc0000';
}

/* Responsive Design */
@media (max-width: 768px) {
  .contact-container {
    padding: 20px;
  }

  .contact-form input,
  .contact-form textarea {
    font-size: 14px;
  }

  .contact-info h3,
  .social-links h3 {
    font-size: 18px;
  }

  .social-links a {
    font-size: 16px;
  }
}
.submit{
  background-color: '#cc0000';
}