.app {
  width: 90%;
  margin: auto;  
  display: flex;        
  flex-direction: column; 
  justify-content: space-between;   
  padding: 20px; /* Inner spacing */
  padding-top: 170px; /* Adjust to account for the fixed navbar height */
  min-height: calc(100vh - 70px); /* Ensure this accounts for navbar height */
  background-color: white;

  
}
